<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eric.gamespace.taoism.dao.TaoismAcctInfoMapper">
  <resultMap id="BaseResultMap" type="com.eric.gamespace.taoism.entity.TaoismAcctInfo">
    <id column="LOGIN_ACCT" jdbcType="VARCHAR" property="loginAcct" />
    <result column="LOGIN_PWD" jdbcType="VARCHAR" property="loginPwd" />
    <result column="NICK_NAME" jdbcType="VARCHAR" property="nickName" />
    <result column="ACCT_STATUS" jdbcType="VARCHAR" property="acctStatus" />
    <result column="ACCT_TYPE" jdbcType="INTEGER" property="acctType" />
    <result column="ACCT_LEVEL" jdbcType="INTEGER" property="acctLevel" />
    <result column="EMAIL_ADDR" jdbcType="VARCHAR" property="emailAddr" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="LAST_LOGIN_DATE" jdbcType="VARCHAR" property="lastLoginDate" />
    <result column="LAST_LOGIN_TIME" jdbcType="VARCHAR" property="lastLoginTime" />
  </resultMap>
  <sql id="Base_Column_List">
    LOGIN_ACCT, LOGIN_PWD, NICK_NAME, ACCT_STATUS, ACCT_TYPE, ACCT_LEVEL, EMAIL_ADDR, 
    MOBILE, LAST_LOGIN_DATE, LAST_LOGIN_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from taoism_acct_info
    where LOGIN_ACCT = #{loginAcct,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from taoism_acct_info
    where LOGIN_ACCT = #{loginAcct,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eric.gamespace.taoism.entity.TaoismAcctInfo">
    insert into taoism_acct_info (LOGIN_ACCT, LOGIN_PWD, NICK_NAME, 
      ACCT_STATUS, ACCT_TYPE, ACCT_LEVEL, 
      EMAIL_ADDR, MOBILE, LAST_LOGIN_DATE, 
      LAST_LOGIN_TIME)
    values (#{loginAcct,jdbcType=VARCHAR}, #{loginPwd,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, 
      #{acctStatus,jdbcType=VARCHAR}, #{acctType,jdbcType=INTEGER}, #{acctLevel,jdbcType=INTEGER}, 
      #{emailAddr,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{lastLoginDate,jdbcType=VARCHAR}, 
      #{lastLoginTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.eric.gamespace.taoism.entity.TaoismAcctInfo">
    insert into taoism_acct_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="loginAcct != null">
        LOGIN_ACCT,
      </if>
      <if test="loginPwd != null">
        LOGIN_PWD,
      </if>
      <if test="nickName != null">
        NICK_NAME,
      </if>
      <if test="acctStatus != null">
        ACCT_STATUS,
      </if>
      <if test="acctType != null">
        ACCT_TYPE,
      </if>
      <if test="acctLevel != null">
        ACCT_LEVEL,
      </if>
      <if test="emailAddr != null">
        EMAIL_ADDR,
      </if>
      <if test="mobile != null">
        MOBILE,
      </if>
      <if test="lastLoginDate != null">
        LAST_LOGIN_DATE,
      </if>
      <if test="lastLoginTime != null">
        LAST_LOGIN_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="loginAcct != null">
        #{loginAcct,jdbcType=VARCHAR},
      </if>
      <if test="loginPwd != null">
        #{loginPwd,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="acctStatus != null">
        #{acctStatus,jdbcType=VARCHAR},
      </if>
      <if test="acctType != null">
        #{acctType,jdbcType=INTEGER},
      </if>
      <if test="acctLevel != null">
        #{acctLevel,jdbcType=INTEGER},
      </if>
      <if test="emailAddr != null">
        #{emailAddr,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginDate != null">
        #{lastLoginDate,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eric.gamespace.taoism.entity.TaoismAcctInfo">
    update taoism_acct_info
    <set>
      <if test="loginPwd != null">
        LOGIN_PWD = #{loginPwd,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        NICK_NAME = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="acctStatus != null">
        ACCT_STATUS = #{acctStatus,jdbcType=VARCHAR},
      </if>
      <if test="acctType != null">
        ACCT_TYPE = #{acctType,jdbcType=INTEGER},
      </if>
      <if test="acctLevel != null">
        ACCT_LEVEL = #{acctLevel,jdbcType=INTEGER},
      </if>
      <if test="emailAddr != null">
        EMAIL_ADDR = #{emailAddr,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginDate != null">
        LAST_LOGIN_DATE = #{lastLoginDate,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        LAST_LOGIN_TIME = #{lastLoginTime,jdbcType=VARCHAR},
      </if>
    </set>
    where LOGIN_ACCT = #{loginAcct,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eric.gamespace.taoism.entity.TaoismAcctInfo">
    update taoism_acct_info
    set LOGIN_PWD = #{loginPwd,jdbcType=VARCHAR},
      NICK_NAME = #{nickName,jdbcType=VARCHAR},
      ACCT_STATUS = #{acctStatus,jdbcType=VARCHAR},
      ACCT_TYPE = #{acctType,jdbcType=INTEGER},
      ACCT_LEVEL = #{acctLevel,jdbcType=INTEGER},
      EMAIL_ADDR = #{emailAddr,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      LAST_LOGIN_DATE = #{lastLoginDate,jdbcType=VARCHAR},
      LAST_LOGIN_TIME = #{lastLoginTime,jdbcType=VARCHAR}
    where LOGIN_ACCT = #{loginAcct,jdbcType=VARCHAR}
  </update>
</mapper>