<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eric.gamespace.taoism.dao.TaoismAcctInfoMapper">
  <resultMap id="BaseResultMap" type="com.eric.gamespace.taoism.entity.TaoismAcctInfo">
    <id column="ACCT_ID" jdbcType="INTEGER" property="acctId" />
    <result column="LOGIN_ACCT" jdbcType="VARCHAR" property="loginAcct" />
    <result column="LOGIN_PWD" jdbcType="VARCHAR" property="loginPwd" />
    <result column="ACCT_NICK_NAME" jdbcType="VARCHAR" property="acctNickName" />
    <result column="ACCT_STATUS" jdbcType="VARCHAR" property="acctStatus" />
    <result column="ACCT_STATUS_DESC" jdbcType="VARCHAR" property="acctStatusDesc" />
    <result column="ACCT_TYPE" jdbcType="VARCHAR" property="acctType" />
    <result column="ACCT_LEVEL" jdbcType="VARCHAR" property="acctLevel" />
    <result column="ACCT_EMAIL_ADDR" jdbcType="VARCHAR" property="acctEmailAddr" />
    <result column="ACCT_PHONE_NO" jdbcType="VARCHAR" property="acctPhoneNo" />
  </resultMap>
  <sql id="Base_Column_List">
    ACCT_ID, LOGIN_ACCT, LOGIN_PWD, ACCT_NICK_NAME, ACCT_STATUS, ACCT_STATUS_DESC, ACCT_TYPE, 
    ACCT_LEVEL, ACCT_EMAIL_ADDR, ACCT_PHONE_NO
  </sql>
  <select id="selectByAcctId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from taoism_acct_info
    where ACCT_ID = #{acctId,jdbcType=INTEGER}
  </select>
  <select id="selectByloginAcct" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from taoism_acct_info
    where LOGIN_ACCT = #{loginAcct,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from taoism_acct_info
    where ACCT_ID = #{acctId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.eric.gamespace.taoism.entity.TaoismAcctInfo">
    insert into taoism_acct_info (ACCT_ID, LOGIN_ACCT, LOGIN_PWD, 
      ACCT_NICK_NAME, ACCT_STATUS, ACCT_STATUS_DESC, 
      ACCT_TYPE, ACCT_LEVEL, ACCT_EMAIL_ADDR, 
      ACCT_PHONE_NO)
    values (#{acctId,jdbcType=INTEGER}, #{loginAcct,jdbcType=VARCHAR}, #{loginPwd,jdbcType=VARCHAR}, 
      #{acctNickName,jdbcType=VARCHAR}, #{acctStatus,jdbcType=VARCHAR}, #{acctStatusDesc,jdbcType=VARCHAR}, 
      #{acctType,jdbcType=VARCHAR}, #{acctLevel,jdbcType=VARCHAR}, #{acctEmailAddr,jdbcType=VARCHAR}, 
      #{acctPhoneNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.eric.gamespace.taoism.entity.TaoismAcctInfo">
    insert into taoism_acct_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="acctId != null">
        ACCT_ID,
      </if>
      <if test="loginAcct != null">
        LOGIN_ACCT,
      </if>
      <if test="loginPwd != null">
        LOGIN_PWD,
      </if>
      <if test="acctNickName != null">
        ACCT_NICK_NAME,
      </if>
      <if test="acctStatus != null">
        ACCT_STATUS,
      </if>
      <if test="acctStatusDesc != null">
        ACCT_STATUS_DESC,
      </if>
      <if test="acctType != null">
        ACCT_TYPE,
      </if>
      <if test="acctLevel != null">
        ACCT_LEVEL,
      </if>
      <if test="acctEmailAddr != null">
        ACCT_EMAIL_ADDR,
      </if>
      <if test="acctPhoneNo != null">
        ACCT_PHONE_NO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="acctId != null">
        #{acctId,jdbcType=INTEGER},
      </if>
      <if test="loginAcct != null">
        #{loginAcct,jdbcType=VARCHAR},
      </if>
      <if test="loginPwd != null">
        #{loginPwd,jdbcType=VARCHAR},
      </if>
      <if test="acctNickName != null">
        #{acctNickName,jdbcType=VARCHAR},
      </if>
      <if test="acctStatus != null">
        #{acctStatus,jdbcType=VARCHAR},
      </if>
      <if test="acctStatusDesc != null">
        #{acctStatusDesc,jdbcType=VARCHAR},
      </if>
      <if test="acctType != null">
        #{acctType,jdbcType=VARCHAR},
      </if>
      <if test="acctLevel != null">
        #{acctLevel,jdbcType=VARCHAR},
      </if>
      <if test="acctEmailAddr != null">
        #{acctEmailAddr,jdbcType=VARCHAR},
      </if>
      <if test="acctPhoneNo != null">
        #{acctPhoneNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eric.gamespace.taoism.entity.TaoismAcctInfo">
    update taoism_acct_info
    <set>
      <if test="loginAcct != null">
        LOGIN_ACCT = #{loginAcct,jdbcType=VARCHAR},
      </if>
      <if test="loginPwd != null">
        LOGIN_PWD = #{loginPwd,jdbcType=VARCHAR},
      </if>
      <if test="acctNickName != null">
        ACCT_NICK_NAME = #{acctNickName,jdbcType=VARCHAR},
      </if>
      <if test="acctStatus != null">
        ACCT_STATUS = #{acctStatus,jdbcType=VARCHAR},
      </if>
      <if test="acctStatusDesc != null">
        ACCT_STATUS_DESC = #{acctStatusDesc,jdbcType=VARCHAR},
      </if>
      <if test="acctType != null">
        ACCT_TYPE = #{acctType,jdbcType=VARCHAR},
      </if>
      <if test="acctLevel != null">
        ACCT_LEVEL = #{acctLevel,jdbcType=VARCHAR},
      </if>
      <if test="acctEmailAddr != null">
        ACCT_EMAIL_ADDR = #{acctEmailAddr,jdbcType=VARCHAR},
      </if>
      <if test="acctPhoneNo != null">
        ACCT_PHONE_NO = #{acctPhoneNo,jdbcType=VARCHAR},
      </if>
    </set>
    where ACCT_ID = #{acctId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eric.gamespace.taoism.entity.TaoismAcctInfo">
    update taoism_acct_info
    set LOGIN_ACCT = #{loginAcct,jdbcType=VARCHAR},
      LOGIN_PWD = #{loginPwd,jdbcType=VARCHAR},
      ACCT_NICK_NAME = #{acctNickName,jdbcType=VARCHAR},
      ACCT_STATUS = #{acctStatus,jdbcType=VARCHAR},
      ACCT_STATUS_DESC = #{acctStatusDesc,jdbcType=VARCHAR},
      ACCT_TYPE = #{acctType,jdbcType=VARCHAR},
      ACCT_LEVEL = #{acctLevel,jdbcType=VARCHAR},
      ACCT_EMAIL_ADDR = #{acctEmailAddr,jdbcType=VARCHAR},
      ACCT_PHONE_NO = #{acctPhoneNo,jdbcType=VARCHAR}
    where ACCT_ID = #{acctId,jdbcType=INTEGER}
  </update>
  <update id="updatePwdByAcctId" parameterType="com.eric.gamespace.taoism.entity.TaoismAcctInfo">
    update taoism_acct_info
    set LOGIN_PWD = #{loginPwd,jdbcType=VARCHAR}
    where ACCT_ID = #{acctId,jdbcType=INTEGER}
  </update>
</mapper>