<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eric.gamespace.taoism.dao.TaoismParamInfoMapper">
  <resultMap id="BaseResultMap" type="com.eric.gamespace.taoism.entity.TaoismParamInfo">
    <result column="param_key" jdbcType="VARCHAR" property="paramKey" />
    <result column="param_value" jdbcType="VARCHAR" property="paramValue" />
    <result column="param_type" jdbcType="VARCHAR" property="paramType" />
    <result column="param_desc" jdbcType="VARCHAR" property="paramDesc" />
  </resultMap>
  <select id="selectByParamType" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select t.param_key,
  		   t.param_value,
  		   t.param_type,
  		   t.param_desc
    from taoism_param_info t
    where t.param_type = #{paramType,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.eric.gamespace.taoism.entity.TaoismParamInfo">
    insert into taoism_param_info (param_key, param_value, param_type, 
      param_desc)
    values (#{paramKey,jdbcType=VARCHAR}, #{paramValue,jdbcType=VARCHAR}, #{paramType,jdbcType=VARCHAR}, 
      #{paramDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.eric.gamespace.taoism.entity.TaoismParamInfo">
    insert into taoism_param_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="paramKey != null">
        param_key,
      </if>
      <if test="paramValue != null">
        param_value,
      </if>
      <if test="paramType != null">
        param_type,
      </if>
      <if test="paramDesc != null">
        param_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="paramKey != null">
        #{paramKey,jdbcType=VARCHAR},
      </if>
      <if test="paramValue != null">
        #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="paramType != null">
        #{paramType,jdbcType=VARCHAR},
      </if>
      <if test="paramDesc != null">
        #{paramDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>